@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*, 
*:after, 
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', sans-serif;
}

.root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.arrow {
	border-style: none;
	background-color: black;
	position: fixed;
	bottom: 90px;
	right: 45px;
	z-index: 6000;
	display: none;
	cursor: pointer;
}

.arrow.active {
	display: block;
}

.footer {
	z-index: 5000;
	margin-top: auto;
	background-color: white;
	margin-top: 90px;
	padding: 30px 0;
	border-top: solid black 1px;
}



.сopyright {
	text-align: center;
	font-size: 14px;
	color: black;
	font-weight: 400;
}

.header {
	padding: 30px 0;
	margin-bottom: 50px;
	border-bottom: solid 1px #EDEDED;
}

.header .container {
	display: flex;
	justify-content: space-between;
}


.container {

	max-width: 1150px;
	margin: 0 auto;
}

.nav-menu {
	width: 90%;
	position: relative;
	align-items: center;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	z-index: 500;
}

.open-btn {
	background-color: white;
	border-style: none;
	position: absolute;
	top: 30px;
	right: 30px;
	display: none;
	z-index: 23000;
}

.open-btn img {
	padding-top: 3px;
	width: 18px;
}

.close-btn img {
	width: 18px;
}

.close-btn {
	background-color: white;
	border-style: none;
	position: absolute;
	top: 30px;
	right: 30px;
	display: none;
	z-index: 23000;
}



.nav-link {
	margin: 0 15px;
	text-decoration: none;
	color: black;
	display: inline-block;
}

.nav-link:hover {
	text-decoration: underline
}



.nav-button {
	margin: 0 15px;
}

.nav-button button {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	padding: 5px 12px;
	background-color: rgba(255, 255, 255, 0.0);
	border: solid ;
	border-width: 1px;
	border-radius: 0;
	cursor: pointer;
}

.nav-button button:focus {
	outline-style: none;
}



/*


.post 
	display: flex;
	margin-bottom: 80px;
}


.post-image {
	height: 410px;
	width: 645px;
	object-fit: cover;
}

.post-info {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 45px;
}

.meta-info {
	display: flex;
	font-size: 15px;
}

.post-topic {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

.post-topic:hover {
	text-decoration: underline
}

.post-date {
	color: grey;
}

.post-title{
	text-decoration: none;
	font-size: 27px;
	color: black;
	line-height: 1.4;
}

.post-title:hover {
	text-decoration: underline;
}

.post-description {
	font-size: 20px;
	color: grey;
	line-height: 1.6;
}


*/

	




.modal {
	display: none;
	position: fixed;
	z-index: 40000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0, 0.7);
	overflow: auto;
}

.modal-content {
	font-size: 20px;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	margin: auto;
	top: 20%;
	width: 500px;
	height: 300px;

	background-color: black;
	padding: 50px;
	color: white;
}

.modal-close {
	background-color: black;
	border-style: none;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.email-form {

	display: flex;
	flex-direction: column;
}

.email-input {
	font-family: 'Rubik', sans-serif;
	color: white;
	font-size: 15px;
	padding: 10px;
	background-color: black;
	border: solid white 1px;
	margin-top: 20px;
}

.email-input:focus {
	outline: none;
}

.email-button {
	font-family: 'Rubik', sans-serif;
	padding: 10px;
	margin-top: 20px;
	font-size: 15px;
}


@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.nav-menu {
		top: 25px;
		z-index: 21000;
		left: 0;
		position: absolute;
		flex-direction: column;
		display: none;
		backdrop-filter: blur(12px);
		background-color: rgba(255, 255, 255, 0.9);
		width: 100%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.nav-menu.active {
		display: flex;
	}


	.nav-link {
		margin: 20px;
	}

	.nav-button{
		margin: 20px;
	}

	.close-btn.active {
		z-index: 23000;
		display: block;
	}

	.open-btn.hide {
		display: none;
	}

	.open-btn {
		z-index: 23000;
		display: block;
	}


	.header {
		padding: 35px 0;
	}





}

@media screen and (max-width: 990px) {
	

	.container {
		width: 720px;
		margin: 0 auto;
	}

	



}

@media screen and (max-width: 767px) {

	.header {
		margin-bottom: 24px;
	}

	

	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0 12px;
	}
}

@media screen and (max-width: 576px) {

	
	.modal-content {
		width: 100%;
	}

	.container {
		width: 100%;
		margin: 0 auto;
	}

	.arrow {
		bottom: 40px;
	}

	.arrow img{
		
		height: 45px;
	}

	

}

@media screen and (max-width: 400px) {
	
}