.pd {
	width: 875px;
	margin: 0 auto;
}

.pd-info {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.pd-meta {
	display: flex;
	font-size: 14px;
	margin-bottom: 40px;
}
.pd-title {
	font-size: 35px;
	margin-bottom: 40px;
}
.pd-description {
	margin-bottom: 70px;
	font-size: 20px;
	color: grey;
}
.pd-content {
	font-size: 20px;
}


.pd-topic {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

.pd-date {
	color: grey;
}

..pd-meta {
	display: flex;
	font-size: 14px;
	margin-bottom: 40px;
}
.pd-title {
	font-size: 35px;
	margin-bottom: 40px;
}
.pd-description {
	margin-bottom: 70px;
	font-size: 20px;
	color: grey;
}
.pd-content {
	font-size: 20px;
}


.pd-meta {
	display: flex;
	font-size: 14px;
	margin-bottom: 40px;
}
pd-title {
	font-size: 35px;
	margin-bottom: 40px;
}
.pd-description {
	margin-bottom: 70px;
	font-size: 20px;
	color: grey;
}
.pd-content {
	font-size: 20px;
}



.pd-meta {
	display: flex;
	font-size: 14px;
	margin-bottom: 40px;
}
pd-title {
	font-size: 35px;
	margin-bottom: 40px;
}
.pd-description {
	margin-bottom: 70px;
	font-size: 20px;
	color: grey;
}
.pd-content {
	font-size: 20px;
	line-height: 1.6;
}


.pd-image {
	width: 1000px;
	height: 530px;
	object-fit: cover;
}


@media screen and (max-width: 1200px) {
	.pd {
		width: 780px;
		margin: 0 auto;
	}


	.pd-image {
		width: 860px;
		height: 460px;
	}

	.pd-title {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.pd-description {
		margin-bottom: 70px;
		font-size: 16px;
		color: grey;
	}

	.pd-content {
		font-size: 16px;
	}
}


@media screen and (max-width: 990px) {
	.pd {
		padding: 0 12px;
		width: 100%;
		margin: 0 auto;
	}

	.pd-image {
		width: 700px;
		height: 400px;
	}
}


@media screen and (max-width: 767px) {
	.pd-image {
		width: 100%;
		height: 300px;
	}

	.pd-content {
		line-height: 1.5;
	}
}	


@media screen and (max-width: 576px) {

	.pd-image {
		height: 200px;
	}

	.pd-info {
		margin-bottom: 70px;
	}	

	.pd-meta {
		font-size: 13px;
		margin-bottom: 25px;
	}
	.pd-title {
		font-size: 23px;
		margin-bottom: 25px;
	}
	.pd-description {
		font-size: 15px;
		margin-bottom: 30px;
	}
	.pd-content {
		font-size: 15px;
	}

}	

@media screen and (max-width: 400px) {

}

